// Variables

// Restate Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$AByG_blue-0: #3B5BD7 !default;
$AByG_blue-50: #456CFE !default;
$AByG_blue-100: #688FFF !default;

$AByG_red-0: #DB0016 !default;
$AByG_red-50: #FF344E !default;
$AByG_red-100: #FE6C77 !default;



$AByG_teal-0: #00D5E1 !default;
$AByG_teal-50: #49E6E9 !default;
$AByG_teal-100: #97F3F5 !default;

$AByG_purple-0: #7800D0 !default;
$AByG_purple-50: #BC35DB !default;
$AByG_purple-100: #EA98E9 !default;

$AByG_dark-0: #29273E !default;
$AByG_dark-50: #565671 !default;
$AByG_dark-100: #928EA8 !default;

$AByG_light-0: #ECEAEF !default;
$AByG_light-50: #FAFAFC !default;
$AByG_light-100: #F2F2F4 !default;


$AByG_bg-dark: #1D1B27 !default;
$AByG_bg-dark-1: #29273E !default;












$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #BD5D38 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $AByG_blue-0 !default;
$AByG_Backround : $gray-900;

$secondary: $AByG_purple-50 !default;

$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Page Variables

$sidebar-base-width: 17rem;
$AByG_font : Avenir;